*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
body{
   background-color: #ffffff;
}

/*---------------------------------------------------------
----------BACK TO TOP BUTTON------
---------------------------------------------------------*/
#backTotop{
   display: none;
   position: fixed;
   bottom: 20px;
   right: 25px;
   z-index: 99;
   font-size: 23px;
   font-weight: lighter;
   border: none;
   outline: none;
   background-color: #C0AB36;
   color: #ffffff;
   border-radius: 50%;
   padding: 8px 13px;
   cursor: pointer;
   transition: 0.5s;
}
#backTotop:hover{
   font-size: 22px;
}
@media screen and (max-width:400px){
   #backTotop{
      font-size: 18px;
   }
}

/*---------------------------------------------------------
----------HEADER STYLES------
---------------------------------------------------------*/
.navbar{
   background-color: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
   position: fixed;
   width: 100%;
   z-index: 997;
}
.navbar .logo a{
   font-size: 28px;
   font-weight: 700;
   text-decoration: none;
   color: #3a4923;
}
.navbar-toggler{
   font-size: 30px;
   transition: .5s;
   border: none;
   color: #3a4923;
}
.navbar-toggler:hover{
   color: #596A32;
}
.navbar-toggler:focus{
   outline: none;
   box-shadow: none;
}
.navbar-nav a{
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #101C00;
   font-size: 18px;
   margin-right: 20px;
   padding: 0 15px;
   border-radius: 7px;
   transition: .5s;
}
.navbar-nav a.active,
.navbar-nav a:hover{
   background-color: #E2E9D7;
}
.navbar-nav li a{
   background-color: #3a4923;
   color: #ffffff;
   padding: 8px 15px;
   border-radius: 25px;
   transition: .5s;
}
.navbar-nav li a p{
   width: 100%;
   margin: auto;
}
.navbar-nav li a:hover{
   background-color: #596A32;
}
@media screen and (max-width:992px){
   .navbar{
       padding: 10px;
   }
   .navbar-nav a{
       margin-bottom: 7px;
   }
   .navbar-nav li a{
      margin: auto;
   }
   .navbar-nav li a p{
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
   }
}

/*---------------------------------------------------------
----------HOME STYLES------
---------------------------------------------------------*/
#home{
   width: 100%;
   height: 100vh;
   position: relative;
   overflow: hidden;
 }
 #home::before {
   content: "";
   position: absolute;
   right: -100%;
   top: 20%;
   width: 250%;
   height: 200%;
   z-index: -1;
   background-color: #E2E9D7;
   transform: skewY(135deg);
 }
 #home .row{
   justify-content: space-between;
 }
 #home .row #home-content{
   display: flex;
   justify-content: center;
 }

#home h1{
   margin: 0 0 10px 0;
   font-size: 49px;
   font-weight: 600;
   line-height: 56px;
   color: #3a4923;
 }
#home h3{
   margin-bottom: 30px;
   font-size: 17px;
   color: #101C00;
 }
#home #home-buttons{
   display: flex;
}
#home #home-buttons button{
   text-decoration: none;
   font-size: 19px;
   border: none;
   color: #ffffff;
   margin: 0 20px;
   padding: 9px 35px;
   background-color: #3a4923;
   border-radius: 7px;
   transition: .5s;
}
#home #home-buttons button:hover{
   background-color: #596A32;
}
#home #home-buttons button[href="#create"]{
   background-color: #C0AB36;
   color: #ffffff;
}
#home #home-buttons button[href="#create"]:hover{
   background-color: #dbc440;
}
#home #home-buttons #home-login ul{
   width: 100%;
   background-color: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border: none;
   text-align: center;
   border-radius: 7px;
   transition: .2s;
}
#home #home-buttons #home-login ul a{
   width: 100%;
   color: #101C00;
   padding: 10px 20px;
   font-size: 18px;
   transition: .2s;
}
#home #home-buttons #home-login ul a:hover{
   background-color: #E2E9D7;
}
#home .home-img{
   width: 350px;
 }
@media (max-width: 1200px){
   #home .home-img{
      width: 300px;
   }
}
@media (max-width: 1000px){
   #home .home-img{
      margin: auto;
   }
}
@media (max-width: 768px){
   #home{
      text-align: center;
   }
   #home .container{
      padding-top: 40px;
   }
   #home h1{
      font-size: 35px;
      line-height: 40px;
   }
   #home h3{
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
   }
   #home #home-buttons{
      flex-direction: column-reverse;
      width: 85%;
      margin: 0 auto;
   }
   #home #home-buttons button{
      margin: 7px auto;
      padding: 9px;
      width: 100%;
   }
   #home .home-img{
      width: 250px;
      margin: auto;
      margin-bottom: 10px;
   }
}
@media (max-width: 380px){
   #home h1{
      font-size: 34px;
   }
   #home h3{
      font-size: 13px;
   }
   #home .home-img{
      width: 200px;
   }
}
@media (max-width: 290px){
   #home h1{
      font-size: 32px;
   }
   #home h3{
      font-size: 12px;
   }
}

/*---------------------------------------------------------
---------- ABOUT STYLES------
---------------------------------------------------------*/
#about{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
 }
#about h1{
   font-size: 40px;
   font-weight: 700;
   line-height: 56px;
   color: #3a4923;
 }
#about p{
   margin-bottom: 30px;
   font-size: 20px;
   color: #101C00;
 }
#about img{
   border-radius: 7px;
}
@media (max-width: 1200px){
   #about h1{
      font-size: 35px;  
   }
   #about p{
      line-height: 21px;
   }
}
@media (max-width: 1000px){
   #about img{
      height: 330px;
   }
}
@media (max-width:767px){
   #about{
      text-align: center;
      height: 100%;
   }
   #about .container{
      padding-top: 40px;
   }
   #about .container .row{
      margin-top: 15px;
   }
   #about img{
      height: 200px;
   }
   #about h1{
      font-size: 30px;  
   }
   #about p{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
   }
}

/*---------------------------------------------------------
---------- FEATURES STYLES------
---------------------------------------------------------*/
#features{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
 }
#features h1{
   color: #3a4923;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   line-height: 40px;
 }
#features .content{
   padding: 30px 0;
 }
#features .content .icon-box {
   margin-top: 25px;
 }
#features .content .icon-box h4 {
   color: #101C00;
   font-size: 20px;
   font-weight: 700;
   margin: 5px 0 10px 60px;
 }
#features .content .icon-box i {
   font-size: 45px;
   float: left;
   color: #3a4923;
 }
#features .content .icon-box p {
   font-size: 15px;
   color: #C0AB36;
   margin-left: 60px;
 }
@media (max-width: 1200px){
   #features{
      height: 100%;
   }
   #features h1{
      margin-top: 70px;
   }
   #features .content{
      width: 75%;
      margin: auto;
   }
   #features .image{
      max-width: 60%;
      margin: auto;
   }
}
@media (max-width:1000px){
   #features .container #features-row{
      display: flex;
      flex-direction: column-reverse;
   }
   #features .content{
      width: 80%;
      margin: auto;
   }
   #features .image{
      text-align: center;
   }
   #features .image img{
      max-width: 70%;
   }
}
@media (max-width:768px){
   #features{
      height: 100%;
      display: flex;
      justify-content: center;
   }
   #features .container .row{
      display: flex;
      flex-direction: column-reverse;
   }
   #features h1{
      font-size: 35px;
      line-height: 40px;
      margin-top: 35px;
   }
   #features .content .icon-box {
      margin-top: 0;
    }
   #features .container{
      margin: 65px 0;
   }
   #features .image{
      text-align: center;
   }
   #features .image img{
      max-width: 80%;
   }
}

/*---------------------------------------------------------
---------- CONTACT STYLES------
---------------------------------------------------------*/
#contact{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
 }
#contact h1{
   color: #3a4923;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
 }
#contact .info{
   padding: 10px 40px;
   background: #E2E9D7;
   color: #3a4923;
   text-align: center;
   border: 1px solid #ffffff;
   border-radius: 10px;
 }
#contact .info i {
   font-size: 48px;
   color: #C0AB36;
   margin-bottom: 15px;
 }
#contact .info h4 {
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
 }
#contact .php-email-form input,
#contact .php-email-form textarea{
   border-radius: 7px;
   box-shadow: none;
   font-size: 14px;
}
#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus{
   border-color: #3a4923;
}
#contact .php-email-form input,
#contact .php-email-form textarea {
   padding: 12px 15px;
} 
#contact .php-email-form button[type=submit] {
   background: #3a4923;
   padding: 10px 24px;
   color: #ffffff;
   transition: 0.4s;
   border-radius: 7px;
   border: none;
   margin-top: 10px;
 }
#contact .php-email-form button[type=submit]:hover {
   background: #526834;
 }
 @media (max-width: 1200px){
   #contact .info i {
      font-size: 43px;
    }
   #contact p{
      font-size: 15px;
   } 
 }
 @media (max-width:1000px){
   #contact{
      height: 100%;
      padding: 20px 0;
   }
   #contact h1{
      margin-top: 50px;
   }
   #contact .info{
      width: 90%;
      margin: 1px auto;
   }
   #contact .php-email-form{
      width: 90%;
      margin: 10px auto;
   }
 }

/*---------------------------------------------------------
---------- FOOTER STYLES------
---------------------------------------------------------*/
#footer{
   padding: 10px 30px 50px;
   font-size: 14px;
   background: #E2E9D7;
 }
 
 #footer .footer-top{
   padding: 60px 0 30px 0;
   background: #E2E9D7;
 }
 
 #footer .footer-top .footer-contact{
   margin-bottom: 30px;
 }
 #footer .footer-top .footer-contact h3{
   font-weight: 700;
   color: #3a4923;
 }
 #footer .footer-top .footer-contact p{
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 0;
   font-family: "Raleway", sans-serif;
   color: #101C00;
 }
 #footer .footer-top h4{
   font-size: 16px;
   font-weight: bold;
   color: #101C00;
   position: relative;
   padding-bottom: 12px;
 }
 #footer .footer-top .footer-links{
   margin-bottom: 30px;
 }
 #footer .footer-top .footer-links ul{
   list-style: none;
   padding: 0;
   margin: 0;
 }
 #footer .footer-top .footer-links ul i{
   padding-right: 2px;
   color: #C0AB36;
   font-size: 18px;
   line-height: 1;
 }
 #footer .footer-top .footer-links ul li{
   padding: 8px 0;
   display: flex;
   align-items: center;
 }
 #footer .footer-top .footer-links ul li:first-child{
   padding-top: 0;
 }
 #footer .footer-top .footer-links ul a{
   color: #7B8C42;
   transition: 0.3s;
   display: inline-block;
   line-height: 1;
 }
 #footer .footer-top .footer-links ul a:hover{
   text-decoration: none;
 }
 #footer .footer-top .social-links a{
   font-size: 18px;
   display: inline-block;
   border: 1px solid #3a4923;
   color: #3a4923;
   line-height: 1;
   padding: 8px 0;
   margin-right: 4px;
   border-radius: 50%;
   text-align: center;
   width: 36px;
   height: 36px;
   transition: 0.5s;
 }
 #footer .footer-top .social-links a:hover{
   background: #3a4923;
   color: #ffffff;
 }

 #footer .footer-bottom{
   border-top: 1px solid #101C00;
 }
 #footer .copyright{
   float: left;
   color: #101C00;
 }
 @media (max-width: 768px) {
   #footer{
      padding: 10px 30px 70px;
   }
   #footer .copyright {
     text-align: center;
     padding: 5px 0;
   }
 }



/*------------------------------------------
-------======== lOGIN MODAL ========---------
------------------------------------------*/
#login-Modalcontent{
   background: #ffffff;
   border: none;
 }
 #login-Modalheader{
   background-color: #3a4923;
   border: none;
   width: 100%;
 }
 #login-Modalheader h2{
   margin-left: 10px;
   color: #ffffff;
 }
 #login-Modalheader button{
   background: none;
   border: none;
   font-size: 37px;
   color: #ffffff;
   transition: .5s;
 }
 #login-Modalheader button:hover{
   color: #E8F6D0;
 }
 #login-Modalbody #login-label{
   width: 80%;
   margin: auto;
 }
 #login-Modalbody label{
   color: #101C00;;
   font-size: 18px;
   font-weight: 400;
   margin-left: 5px;
   margin-bottom: 5px;
 }
 #login-Modalbody #login-inputbox{
   width: 80%;
   margin: auto;
 }
 #login-Modalbody #login-inputbox input{
   width: 100%;
   height: 50px;
   border-radius: 7px;
   opacity: 0.7;
 }
 #login-Modalbody input[type="checkbox"]{
   margin-left: 10%;
 }
 #login-Modalbody .form-control:focus{
   border: 1px solid #3a4923;
   outline: none;
   box-shadow: none;
 }
 
 #login-Modalbutton{
   width: 80%;
   margin: 10px auto;
   display: flex;
   justify-content: space-between;
 }
 #login-Modalbutton input{
   margin: 5px auto;
   padding: 8px 50px;
   border: none;
   border-radius: 7px;
   font-size: 18px;
   transition: .5s;
 }
 #login-Modalbutton input[type="reset"]{
   background-color: #C0AB36;
   color: #ffffff;
 }
 #login-Modalbutton input[type="reset"]:hover{
   background-color: #dbc440;
 }
 #login-Modalbutton input[type="submit"]{
   background-color: #3a4923;
   color: #ffffff;
 }
 #login-Modalbutton input[type="submit"]:hover{
   background-color: #203b15;
 }
 @media screen and (max-width:520px){
   #login-Modalbutton input{
      padding: 8px 30px;
   }
 }
 @media screen and (max-width:320px){
   #login-Modalbutton{
      display: flex;
      flex-direction: column;
   }
   #login-Modalbutton input{
      width: 100%;
   }
 }

/*------------------------------------------
----======== CREATE ACCOUNT MODAL ========-----
------------------------------------------*/
#login-Modalbody #login-inputbox select{
   padding: 5px 0;
   width: 100%;
   margin: 0 auto 10px;
   border: 1px solid lightgray;
   border-radius: 5px;
 }
 #login-Modalbody #login-inputbox select:focus{
   outline: none;
 }
 